<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Echoes In the Cyberdust</h1>
                <h3>From an MD-PhD student</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/header-bg.jpg" | prepend: site.baseurl }}" class="img-responsive">

            <div class="intro-text">
                <div class="intro-heading">echoes in the cyberdust</div>
                <div class="intro-lead-in">from an mdphd student</div>
            </div>


            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->